{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Log In{% endblock title %}

{% block content %}
<div class=" h-100">

  <div class="row h-100 justify-content-center align-items-center">
    <div class="col">
      <br>
      <br>

      <div class=" container-card align-items-center  justify-content-center">
        <div class="card">


          <h2 class="center text-heavy">Login</h2>
          <br />

          <form method="post">
            {% csrf_token %}
            {{ form  | crispy }}

            <button class="card-button" type="submit">LOGIN</button>
          </form>
          <br />
          <div class="row align-items-end">
            <div class="col-sm"></div>
            <div class="col-sm center"> <a href="" class="center">Forgot Password?</a> </div>
          </div>
        </div>
        <br />
        <div class="row ">
          <div class="col"></div>
          <div class="col align-self-end">

            <p class="center"> Don't have an account?
              <a href="google.com">

                REGISTER
              </a>
          </div>
        </div>
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock content %}