{% extends '_base.html' %} {% block title %} Solists | Profile {% endblock %}
{% load crispy_forms_tags %}
{%block content %}
{% if user.is_authenticated %}

<!-- <p>Hi {{ user.email }}!</p> -->
<h2 class='center'> Update Account </h2>
<hr>
<br>
<a href="{{developer.get_absolute_url}}" class="float-right">See how your page appears to other users</a><br>
<div class="card">
    <form method="post">
        {% csrf_token %}
        {{form|crispy}}
        <a href="/accounts/password/change/"> Change Password </a>
        <button type="submit" class="card-button">Submit</button>
    </form>
</div>
{% else %}

Please Login
{% endif %}
{% endblock content %}