{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block title %}Sign Up{% endblock title %}

{% block content %}
<div class="row justify-content-center">
  <div class="col ">
    <div class="container-card align-items-center  justify-content-center">

      <div class=" ">
        <div class="card">

          <h1 class="center">Sign Up</h1>
          <br />
          <form method="post">

            {% csrf_token %}
            {{ form | crispy }}
            <button class="card-button" type="submit">SUBMIT</button>
          </form>
          <br />

        </div>
        <div class="container-sm">
          <br>

          <div class=" row align-items-center align-self-center justify-content-center">
            <p class="margin-bottom-none center"> By creating an account, you agree to Solists' <a
                href="google.com">Terms of
                Service</a> and consent to our <a href="google.com">Privacy Policy.
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock content %}