# If you have issues with keys, remember .env values are space-sensitive. 
# so make sure there isn't any whitespace after the = and before your key item!

SECRET_KEY='STRING'

DEBUG=True


DATABASE_NAME=STRING
DATABASE_USER=STRING
DATABASE_PASSWORD=STRING
# Set these values as needed. These are the default postgres pgadmin4 settings.
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432

TINY_API_KEY='STRING'

STRIPE_TEST_PUBLISHABLE_KEY=STRING
STRIPE_TEST_SECRET_KEY=STRING

ENVIRONMENT='STRING'
# ^ development or production

DATABASE_URL='STRING'

SENDGRID_API_KEY='STRING'

GOOGLE_ANALYTICS_KEY='STRING'