{% extends '_base.html' %}
<!-- 
<head>
    <meta name="description" property="description"
        content="Job posting at Solists.com for {{lead.title}} at {{lead.company}}">
    <meta name="keywords" property="keywords" content="solists.com, software, developer, {{lead.skills}} ">

</head> -->

{% block title %}
Solists | {{lead.title}} at {{lead.company}}
{% endblock title %}
{% block description %}
Test
{% endblock description %}
{% block content %}
<div class="lead-detail">
    <div class="card">

        <!-- {% if lead.logo %}
        <img class="lead-logo" src="{{ lead.logo.url}}" alt="{{ lead.title }}">
        {% endif %} -->
        <h1>
            {{lead.title}}
        </h1>
        <p> <b>Company:</b> {{lead.company}} </p>
        <p><b>Skills :</b> {{ lead.skills}}</p>
        <p><b> Job Type:</b> {{ lead.job_type }}</p>
        <hr />
        {% autoescape off %}
        <p> {{lead.description}}</p>
        {% endautoescape %}
        <hr />
        <p><b> Created at:</b> {{lead.created_at}}</p>
        <a class="btn  card-button" href="{{ lead.application_link }}"> Apply </a>
    </div>

</div>
{% endblock content %}