{% extends '_base.html' %}

{% block title %}
Solists | Designers
{% endblock title %}

{% block content %}
<h2 class="center"> Find Designers</h2>
<hr>

<div class="">
    {% for dev in dev_list %}
    <div class="list-group-item list-group-item-action">
        <div class="list-users">

            <!--  was {{dev.get_absolute_url}} -->
            <div class="row">

                <h3> <a href="{{dev.get_absolute_url}}" class="normalize header-user">
                        {{dev.first_name}} {{dev.last_name}}</a>

                </h3>

            </div>

            {% if dev.job_title %}
            <div class="row">

                <h6>{{dev.job_title}}</h6>
            </div>
            {% endif %}
            <div class="row">

                {% for skill in dev.skills %}
                <input type="submit" name="q" class=" btn btn-outline-dark  listing-skill"
                    onclick="event.stopPropagation()" value="{{skill}}">
                {% endfor %}
            </div>
            <div class="row">
                <span>
                    Joined: {{dev.date_joined| date:"M. d,   Y"}}
                </span>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


<!-- <p> <b>Current Location:</b> <br> {{developer.country.name}}</p>
    <p> <b> Skills: </b> <br>{{developer.skills}} </p>
    <p> <b> Experience Level: </b> <br>{{developer.experience}} </p>
    <p>

       -->

{% if is_paginated %}
<ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li class="page-item ">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
    </li>
    {% else %}
    <li class="page-item" class="disabled"><span class="page-link">Previous</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
    {% if page_obj.number == i %}
    <li class="page-item  "><span class="page-link active-primary-1">{{ i }} <span
                class="sr-only page-link">(current)</span></span>
    </li>
    {% else %}
    <li class="page-item"><a class="page-link " href="?page={{ i }}">{{ i }}</a></li>
    {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
    {% else %}
    <li class="page-item" class="disabled"><a href="#" class=" page-link">Next</a></li>
    {% endif %}
</ul>
{% endif %}
{% endblock content %}