{% extends '_base.html' %}
{% block title %}
Solists | Profile | {{dev.first_name}} {{dev.last_name}}
{% endblock %}


{% block content%}

<div class="card-user">

        <h2>{{dev.first_name}} {{dev.last_name}}</h2>
        {% if dev.job_title %}
        <h4> {{dev.job_title}}</h4>
        {% else %}
        {% if dev.developer %}
        <h4> Developer </h4>
        {% else %}
        {% endif %}
        {% if dev.dev %}
        <h4> Designer </h4>
        {% else %}
        {% endif %}
        {% endif %}
        <div class="text-secondary">
                {% if dev.linkedin %}
                <a class="margin-padding-left-none btn-floating   " target="_blank" href="{{dev.linkedin}}"><i
                                class="fa  fa-icon fa-2x fa-linkedin-square" aria-hidden=" true"></i>
                </a>
                {% endif %}
                {% if dev.github %}
                <a class="margin-padding-left-none " target="_blank" href="{{dev.github}}"><i
                                class="fa  fa-icon fa-2x fa-github-square" aria-hidden=" true"></i>
                </a>
                {% endif %}
                {%  if dev.website %}

                <a class="margin-padding-left-none " target="_blank" href="{{dev.website}}"><i
                                class="fa  fa-icon fa-2x fa-globe" aria-hidden=" true"></i>
                </a>
                {% endif %}
                {% if dev.stackoverflow %}
                <a class="margin-padding-left-none " target="_blank" href="{{dev.stackoverflow}}"><i
                                class="fa  fa-icon fa-2x fa-stack-overflow" aria-hidden=" true"></i></a>
                {% endif %}
        </div>
        <hr>

        <p> <b>Current Location:</b> <br> {{dev.country.name}}</p>

        {% if dev.description %}
        <p> <b> Summary: </b> <br> {{dev.description}}</p>
        {% endif %}

        <p> <b> Skills: </b> <br>{{dev.skills}} </p>
        <p> <b> Experience Level: </b> <br>{{dev.experience}} </p>
        <b>Joined:</b> <br> {{dev.date_joined| date:"M. d,   Y"}}
        {% if dev.allow_contact and dev.contact_email %}
        <hr>
        <a class="card-button card-button-small " href="mailto:{{developer.contact_email}}"> Contact
        </a>

        {% endif %}
</div>


{% endblock content %}