{% load static %}
<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>{% block title %}Solists | Work Remotely {% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" property="og:description"
      content="Solists is a remote work job board for software developers and designers.">
    <!-- CSS -->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' type='image/x-icon' %}">
    <!-- <meta name="keywords" content="django, software, developer, designer, jobs, remote, "> -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!--  font-awesome -->
    <script src="https://kit.fontawesome.com/0fcb33a1e6.js" crossorigin="anonymous"></script>

    <!-- <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet"> -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
    <!-- roboto font -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% if GA_KEY %}
    <script async="" src="https://www.googletagmanager.com/gtag/js?id={{ GA_KEY }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());
      gtag('config', '{{ GA_KEY }}');
    </script>
    {% endif %}
  </head>

  <body>
    <header>

      <nav class="navbar   navbar-dark bg-dark navbar-background navbar-expand-lg  navbar-light bg-light">
        <div class="container">

          <a class="navbar-brand" href="{% url 'home' %}">Solists</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto mt-2 mt-lg-0 ">
              <li class="nav-item active ">
                <a class="nav-link" href="{% url 'home' %}">Find Jobs <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'developers' %}">Find Developers</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'post_lead' %}">Post a Job</a>
              </li>
            </ul>
            <ul class="navbar-nav my-2 my-lg-0 justify-content-end">
              <form class="form-inline mt-2 mt-md-0" action="{% url 'search_results' %}" method="get">
                <input name="q" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
              </form>
              {% if user.is_authenticated %}
              <li class="nav-item active">
                <a class=" nav-link icon-hover-fix" href="{% url 'profile' %}">
                  {% comment %} <i class="fas fa-user-circle"></i> {% endcomment %}
                  Account
                </a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'support' %}">Support</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
              </li>

              {% else  %}
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'support' %}">Support</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'account_login' %}">Log In</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'account_signup' %}">Sign Up</a>
              </li>

              {% endif %}

              </li>
          </div>
          </ul>

        </div>
        </div>

      </nav>


      {% if user.is_authenticated %}

      <a class="normalize text-white icon-hover-fix" href="{% url 'profile' %}">

        <i class="fas fa-user-circle"></i>
      </a>
      <a class="color-white normalize navbar-main-items" href="{% url 'account_logout' %}">LOGOUT</a>
      {% else %}

      <a class="color-white normalize navbar-main-items" href="{% url 'account_login' %}">LOG IN</a>
      <a class="color-white normalize navbar-main-items" href="{% url 'account_signup' %}">SIGN UP</a>

      {% endif %}
      </div>
      </div>
      </div>
      </nav>
      </div>

    </header>
    <!-- <br> -->

    <div class="container">
      {% block content %}
      {% endblock content %}
    </div>
    <!-- Compiled and minified JavaScript -->
    <!-- jQuery and JS bundle w/ Popper.js -->



    <script data-ad-client="ca-pub-8038544286614123" async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
  </body>

</html>