{% extends '_base.html' %}
{% load static %}

{% block title %}Solists | Work Remotely {% endblock title %}

{% block content %}




<p class="p-header">
  Solists is a remote work job board for <b> software developers </b> and <b> designers</b>.
</p>
<hr>

{% for lead in lead_list %}
<form class="" action="{% url 'search_results' %}" method="get">
  <div class="listing">
    <div class="listing-body">
      <div class="listing-background-primary">
        <div class="listing-header">
          <div class="row w-100">
            <div class="col-12 col-lg-6">


              <p class="p-header-listing">
                <!-- {{lead.logo}} -->

                <a class="p-header-link" href="{{lead.get_absolute_url}}">
                  {{lead.title}}
                </a>
              </p>
            </div>
            <div class="col-12 col-lg-6">

              <div class="p-header-listing-date float-lg-right">
                <p>
                  {{lead.created_at | timesince }} ago
                </p>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="p-header-listing-secondary">
            <input type="submit" name="q" class=" listing-button listing-tertiary-button btn " value="{{lead.company}}">
            <span>
              -
            </span> <input type="submit" name="q" class=" listing-button listing-tertiary-button btn "
              value="{{lead.country}}">
          </div>
          <p class="listing-skill">
            {% for job in lead.job_type %}
            <input type="submit" name="q" class=" listing-button  listing-primary-button  btn " value="{{job}}">
            {% endfor %}
          </p>
        </div>
      </div>

      <div class="listing-background-secondary">
        <!-- <p class="p-color-emphasis"> -->
        <div class="listing-job-type">
          <!-- {{lead.skills}} -->

          {% for skill in lead.skills %}
          <input type="submit" name="q" class=" listing-button listing-secondary-button btn " value="{{skill}}">
          {% endfor %}


        </div>
        <div class="listing-button-group">
          {% if lead.application_link %}
          <a class="listing-button-left btn" href="{{ lead.application_link }}">APPLY NOW</a>
          {% else %}
          <a class="listing-button-left btn" href="{{ lead.contact_info }}">CONTACT US</a>
          {% endif %}
          <a class="listing-button-right btn" href="{{ lead.get_absolute_url }}">MORE INFO</a>
        </div>
        <!-- </p> -->

      </div>
    </div>
  </div>
</form>
{% endfor %}
{% endblock content %}

<!-- {% if user.is_authenticated %}
<p>Hi {{ user.email }}!</p>
<p><a href="{% url 'account_logout' %}">Log Out</a></p>
{% else %}
<p>You are not logged in</p>
<p><a href="{% url 'account_login' %}">Log In</a> |
  <a href="{% url 'account_signup' %}">Sign Up</a></p>
{% endif %}
<form class="form-inline mt-2 mt-md-0" action="{% url 'search_results' %}" method="get">
  <input name="q" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
</form> -->