{% extends '_base.html' %}
{% load static %}
{% load custom_tags %}
{% block title %}Solists | Work Remotely {% endblock title %}

{% block content %}

<div class="text-center container-fluid  ">

  <div class="banner row justify-content-center bg-secondary " id=" picture-background">
    <div class="col-xl-7 banner-text">
      <div class="text-center container-fluid">
        <div class=" justify-content-md-center align-items-center">
          <h2 class="display-2 pt-5 text-center ">
            Solists
          </h2>
        </div>
        <div class="row justify-content-md-center align-items-center">
          <h3 class=" display-6 pt-2 text-center">
            A remote job board for software developers and designers.
          </h3>
        </div>

        <h5 class="pt-4">
          Find your next job among our <span class="badge badge-light">{{ lead_list.count }} </span> posted positions
        </h5>
        <div class="row justify-content-center pt-3 pb-5">
          <div class="col">


            <form class="form-inline w-75 search-main" action="{% url 'search_results' %}" method="get">

              <div class="input-group w-100 ">
                <input name="q" class="form-control  " type="text" placeholder="Search" aria-label="Search">

              </div>

          </div>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <br>

  {% for lead in lead_list %}
  <form class="" action="{% url 'search_results' %}" method="get">
    <div class="listing">
      <div class=" listing-body list-group-item list-group-item-action" data-toggle="collapse"
        href="#collapseExample{{lead.id}}" role="button" aria-expanded="false"
        aria-controls="collapseExample{{lead.id}}">

        <div class="listing-header">
          <div class="row w-100 align-items-center">
            <div class="col">
              <div class="row align-items-center">

                <div class="col-md-6 ">
                  {% if lead.company %}
                  <input type="submit" name="q"
                    class=" d-none d-lg-block listing-button bg-transparent listing-tertiary-button  bg-transparent btn "
                    onclick="event.stopPropagation()" value="{{lead.company}}">
                  {% endif %}
                  <div class="">

                    <a class="p-header-link" href="{{lead.get_absolute_url}}" onclick="event.stopPropagation()">
                      {{lead.title}}
                    </a>
                  </div>
                  <div>
                    {% if lead.company %}
                    <input type="submit" name="q" onclick="event.stopPropagation()"
                      class="  d-lg-none d-md-block bg-transparent listing-button listing-tertiary-button btn "
                      value="{{lead.company}}">
                    {% endif %}
                    <span class="p-header-listing-secondary d-lg-none ">
                      -
                    </span> <input type="submit" name="q"
                      class="bg-transparent listing-button listing-tertiary-button btn "
                      onclick="event.stopPropagation()" value="{{lead.country}}"> {% if lead.country %} -
                    {% endif %}
                    {% for job in lead.job_type %}
                    <input type="submit" name="q"
                      class=" underline-hover bg-transparent listing-button  listing-primary-button  btn "
                      onclick="event.stopPropagation()" value="{{job}}">
                    {% endfor %}
                  </div>
                </div>
                <div class="col-md-6 col-sm-12">
                  {% for skill in lead.skills %}
                  <input type="submit" name="q" class=" btn btn-outline-dark  listing-skill"
                    onclick="event.stopPropagation()" value="{{skill}}">
                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="col-xs-1 col-sm-3 col-md-3 col-3 ">
              <div class="row align-items-center">
                <div class="col  text-center ">
                  <div class="row justify-content-center align-items-center">

                    <p class="p-header-listing-date text-center ">
                      {{lead.created_at|timesince|upto:',' }}
                    </p>
                    <div class="d-none d-sm-block">
                      {% if lead.application_link %}
                      <a class="btn listing-button-apply text-center  " onclick="event.stopPropagation()"
                        href="{{ lead.application_link }}">APPLY </a>
                      {% else %}
                      <a class="btn listing-button-apply text-center  " onclick="event.stopPropagation()"
                        href="{{ lead.contact_info }}">CONTACT US</a>
                      {% endif %}
                      <!-- <a class="listing-button-right btn" href="{{ lead.get_absolute_url }}">MORE INFO</a> -->
                    </div>
                  </div>
                </div>


              </div>

            </div>
          </div>
        </div>

        </span>

        <!-- <div class="listing-background-secondary">
          <div class="listing-job-type">




          </div>


        </div> -->
      </div>
      <div class="collapse" id="collapseExample{{lead.id}}">
        <div class="card card-body card-border-fix">
          {% if lead.salary_range %}
          <b> Salary:</b>
          <span>

            {{lead.salary_range}}
          </span>
          {% endif %}
          {% autoescape off %}
          <p> {{lead.description}}</p>
          {% endautoescape %}
          {% if lead.application_link %}
          <div class="text-center">
            See more jobs at <u><a href="/search/?q={{lead.company}}">{{lead.company}}</a></u>
          </div>
          <br>
          <a class="btn listing-button-apply " href="{{ lead.application_link }}">Apply for this position </a>
          {% else %}
          <div class="card">
            How do you apply?
            {{lead.how_to_apply}}
          </div>
          <a class="btn listing-button-apply " href="{{ lead.contact_info }}">Contact us</a>
          {% endif %}
        </div>
      </div>
    </div>
  </form>

  {% endfor %}

  {% if is_paginated %}
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li class="page-item ">
      <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
    </li>
    {% else %}
    <li class="page-item" class="disabled"><span class="page-link">Previous</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
    {% if page_obj.number == i %}
    <li class="page-item  "><span class="page-link active-primary-1">{{ i }} <span
          class="sr-only page-link">(current)</span></span>
    </li>
    {% else %}
    <li class="page-item"><a class="page-link " href="?page={{ i }}">{{ i }}</a></li>
    {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
    {% else %}
    <li class="page-item" class="disabled"><a href="#" class=" page-link">Next</a></li>
    {% endif %}
  </ul>
  {% endif %}
</div>

</div>
<br>

{% endblock content %}

<!-- {% if user.is_authenticated %}
<p>Hi {{ user.email }}!</p>
<p><a href="{% url 'account_logout' %}">Log Out</a></p>
{% else %}
<p>You are not logged in</p>
<p><a href="{% url 'account_login' %}">Log In</a> |
  <a href="{% url 'account_signup' %}">Sign Up</a></p>
{% endif %}
<form class="form-inline mt-2 mt-md-0" action="{% url 'search_results' %}" method="get">
  <input name="q" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
</form> -->