{% extends '_base.html' %}
{% load static %}

{% block title %}Solists | Work Remotely {% endblock title %}

{% block content %}




<p class="p-header">
  Solists is a remote work job board for <b> software developers </b> and <b> designers</b>.
</p>
<hr>

{% for lead in lead_list %}
<form class="" action="{% url 'search_results' %}" method="get">
  <div class="listing">
    <div class="listing-body">
      <div class="listing-background-primary">
        <div class="listing-header">
          <div class="row w-100">
            <div class="col-12 col-lg-6">


              <p class="p-header-listing">
                <!-- {{lead.logo}} -->

                <a class="p-header-link" href="{{lead.get_absolute_url}}">
                  {{lead.title}}
                </a>

              </p>
            </div>
            <div class="col-12 col-lg-6">

              <p class="p-header-listing-date float-lg-right">
                {{lead.created_at | timesince }} ago
              </p>
            </div>
          </div>
        </div>
        <div>
          <div class="p-header-listing-secondary">
            <input type="submit" name="q" class=" listing-button listing-tertiary-button btn " value="{{lead.company}}">
            <span>
              -
            </span> <input type="submit" name="q" class=" listing-button listing-tertiary-button btn "
              value="{{lead.country}}">
          </div>
          <span class="listing-skill">
            {% for job in lead.job_type %}
            <input type="submit" name="q" class=" listing-button  listing-primary-button  btn " value="{{job}}">
            {% endfor %}
            <!-- {% if lead.salary_range %}
            {{lead.salary_range}}
            {% endif %} -->
          </span>
        </div>
      </div>

      <div class="listing-background-secondary">
        <!-- <p class="p-color-emphasis"> -->
        <div class="listing-job-type">
          <!-- {{lead.skills}} -->

          {% for skill in lead.skills %}
          <input type="submit" name="q" class=" listing-button listing-secondary-button btn " value="{{skill}}">
          {% endfor %}


        </div>
        <div class="listing-button-group">
          {% if lead.application_link %}
          <a class="listing-button-left btn" href="{{ lead.application_link }}">APPLY NOW</a>
          {% else %}
          <a class="listing-button-left btn" href="{{ lead.contact_info }}">CONTACT US</a>
          {% endif %}
          <a class="listing-button-right btn" href="{{ lead.get_absolute_url }}">MORE INFO</a>
        </div>
        <!-- </p> -->

      </div>
    </div>
  </div>
</form>

{% endfor %}
{% if is_paginated %}
<ul class="pagination justify-content-center">
  {% if page_obj.has_previous %}
  <li class="page-item ">
    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
  </li>
  {% else %}
  <li class="page-item" class="disabled"><span class="page-link">Previous</span></li>
  {% endif %}
  {% for i in paginator.page_range %}
  {% if page_obj.number == i %}
  <li class="page-item  "><span class="page-link active-primary-1">{{ i }} <span
        class="sr-only page-link">(current)</span></span>
  </li>
  {% else %}
  <li class="page-item"><a class="page-link " href="?page={{ i }}">{{ i }}</a></li>
  {% endif %}
  {% endfor %}
  {% if page_obj.has_next %}
  <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
  {% else %}
  <li class="page-item" class="disabled"><a href="#" class=" page-link">Next</a></li>
  {% endif %}
</ul>
{% endif %}

{% endblock content %}

<!-- {% if user.is_authenticated %}
<p>Hi {{ user.email }}!</p>
<p><a href="{% url 'account_logout' %}">Log Out</a></p>
{% else %}
<p>You are not logged in</p>
<p><a href="{% url 'account_login' %}">Log In</a> |
  <a href="{% url 'account_signup' %}">Sign Up</a></p>
{% endif %}
<form class="form-inline mt-2 mt-md-0" action="{% url 'search_results' %}" method="get">
  <input name="q" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
</form> -->