html,
body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  overflow: scroll;
  height: 100%;
}

body {
  background-color: #fafafa;
  margin: 0px;
}

a {
  text-decoration: none;
}

.normalize {
  text-decoration: none;
}

.icon-hover-fix:hover {
  text-decoration: none;
}

.color-white {
  color: white;
}



:root {
  --container-width: 960px;
}

.container {
  height: 100%;
}

.container-custom {
  height: 100%;
  margin: 50px;
  padding: 20px;
  max-width: var(--container-width);
}

.navbar-container {
  height: 100%;
  width: 100%;
}

.navbar-background{
  background-color: #3789b3 !important;
}

.navbar-main {
  /* max-width: var(--container-width); */
  height: 65px;
  background-color: #3789b3;
  margin: 0px;

  color: white;

  text-decoration: none !important;
  display: flex;
  align-items: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

@media only screen and (min-width: 1200px) {
  .navbar-main {
    padding: 0px 50px;
  }

  .container-custom {
    padding: 10px;
    max-width: var(--container-width);
    margin: auto;
  }
}

@media only screen and (max-width: 1199px) {
  .navbar-main {
    padding: 0px 10px;
    max-width: var(--container-width);
    height: 65px;
    background-color: #3789b3;
    margin: 0px;
    color: white;
    text-decoration: none !important;
    display: flex;
    align-items: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }

  .container-custom {
    margin: 5px;
  }
}

.navbar-flex {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar-main-logo {
}

.navbar-main-center {
}

.navbar-main-right {
}

.width-100 {
  width: 100%;
}

.navbar-main-items {
  padding: 10px;
  /* margin: 10px; */
}

.navbar-main-items:hover {
  background-color: #2e749759;
  border-radius: 3px;
  transition: 0.2s ease-in-out;
}

.text-white {
  color: white;
}

.text-heavy {
  font-weight: 900;
}

.container-centered {
  /* height: 100%; */
  margin: 0 auto;
  /* height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto; */
}

.margin-bottom-none {
  margin-bottom: none;
}

.container-card {
  min-width: 50%;
  max-width: 700px;
  margin: auto;
}

.card {
  padding: 35px;
  color: rgba(0, 0, 0, 0.87);
  background-color: white;
  /* border: 1px solid grey; */
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  min-height: 300px;
  /* flex-direction: column; */
}

.card-container-internal {
  position: relative;
}

.card-color {
  background-color: #86bfde !important;
  color: #095883 !important;
}

.center {
  text-align: center !important;
}

.card-button {
  width: 100%;
  margin: 30px auto 0px;
  text-align: center;
  background-color: #3789b3;
  padding: 10px;
  border: none;
  color: white;
  font-size: 18px;
  border-radius: 8px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.listing-button-group {
  display: inline-flex;
  /* border: 1px solid #86bfde;
  max-width: fit-content;
  margin: 0 !important; */
}

.listing-button-left {
  border-radius: 8px 0px 0px 8px;
  border: 1px solid#3789b3;
  color: #3789b3;
  padding: 10px;
  font-size: 0.95rem;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}

.listing-button-right {
  border-radius: 0px 8px 8px 0px;
  border: 1px solid #3789b3;
  background-color: #3789b3;
  padding: 10px;
  font-size: 0.95rem;
  color: white;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}

.listing-button-left:hover {
  background-color: #ddebf1;
  border: 1px solid #2a6b8b;
}

.listing-button-right:hover {
  background-color: #286583;
  border: 1px solid #286583;
}

.normalize {
  text-decoration: none;
}

.p-header {
  font-size: 1.5rem;
}

.listing-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.p-header-listing {
  font-size: 1.1rem;
  font-weight: 700;
  color: #292929;
  margin-bottom: 1px;
  padding-bottom: 1px;
}

.p-header-listing-date {
  float: right;
  color: #5f5f5f;
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 1px;
  padding-bottom: 1px;
  font-weight: 100;
}
.p-header-link {
  color: #292929 !important;
  font-weight: 600;
}

.p-header-listing-secondary {
  font-size: 1rem;
  font-weight: 400;
  color: #5f5f5f;
  margin-top: 1px;
  padding-top: 1px;
}

.p-secondary-listing {
  font-size: 1rem;
  font-weight: 500;
  color: #5f5f5f;
}

.p-color-emphasis {
  color: #095883;
}

.p-pre {
  white-space: pre-wrap;
}

.link {
  text-decoration: none;
}

.listing {
  list-style: none;
  margin: 0;
  padding: 0;
}
.listing .listing-body {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.listing .listing-body:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.listing .listing-background-primary {
  background-color: white;
  min-height: 50px;
  padding: 20px;
}
.listing .listing-background-secondary {
  background-color: #f2fbff;
  min-height: 50px;
  height: 100%;
  padding: 20px;
  width: 100%;
  -moz-border-radius: 0 0 9px 9px;
}
.listing .listing-background-secondary .listing-bottom {
  border-radius: 10px;
}

.input-form {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.post-subheader {
  margin-top: 0;
  padding-top: 0;
}

.asteriskField {
  display: none;
}
