{% extends '_base.html' %}

{% block title %}Orders{% endblock title %}

{% block content %}
<div class="card">

    <h1>Confirm your order</h1>
    <p>Buy for $14.99</p>
    <form action="{% url 'charge' %}" method="post">
        {% csrf_token %}
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="{{ stripe_key }}"
            data-description="Post a Job" data-amount="1499" data-locale="auto">
            </script>
    </form>
</div>
{% endblock content %}