{% extends '_base.html' %}

{% block title %}
Solists | Developers
{% endblock title %}

{% block content %}
{% for developer in developer_list %}
{% if developer.published %}
<div class="card">

    <!--  was {{developer.get_absolute_url}} -->

    <h2> <a href="{{developer.get_absolute_url}}" class="normalize">
            {{developer.first_name}} {{developer.last_name}}</a></h2>
    <p>
        <b>Current Location:</b> {{developer.country}}
    </p>
    {% if developer.skills %}
    <p>
        <b>Skills:</b> {{developer.skills}}
    </p>
    {% endif %}
    {% if developer.experience %}
    <p>
        <b>Experience:</b> {{developer.experience}}
    </p>
    {% endif %}
    <hr>
    <p class="p-subtext">
        <b>Joined:</b> {{developer.date_joined| date:"M. d,   Y"}}
    </p>
</div>
<br>

{% endif %}
{% endfor %}
{% endblock content %}