{% extends '_base.html' %}

{% block title %}
Solists | Developers
{% endblock title %}

{% block content %}
{% for developer in developer_list %}
{% if developer.published %}
<div>
    <!--  was {{developer.get_absolute_url}} -->

    <h2> <a href="{{developer.get_absolute_url}}" class="normalize">
            {{developer.first_name}} {{developer.last_name}}</a></h2>
    <p>
        Current Location: {{developer.country}}
    </p>
    <p>

        Skills: {{developer.skills}}
    </p>
    <hr />
</div>
{% endif %}
{% endfor %}
{% endblock content %}