{% extends '_base.html' %}

{% block title %}
Solists | Developers
{% endblock title %}

{% block content %}
<h2 class="center"> Find Developers</h2>
<hr>
{% for developer in developer_list %}
{% if developer.published %}
<div class="card">

    <!--  was {{developer.get_absolute_url}} -->

    <h2> <a href="{{developer.get_absolute_url}}" class="normalize">
            {{developer.first_name}} {{developer.last_name}}</a></h2>
    <p>
        <b>Current Location:</b> {{developer.country.name}}
    </p>
    {% if developer.skills %}
    <p>
        <b>Skills:</b> {{developer.skills}}
    </p>
    {% endif %}
    {% if developer.experience %}
    <p>
        <b>Experience:</b> {{developer.experience}}
    </p>
    {% endif %}
    <hr>
    <p class="p-subtext">
        <b>Joined:</b> {{developer.date_joined| date:"M. d,   Y"}}
    </p>
</div>
<br>

{% endif %}
{% endfor %}
{% if is_paginated %}
<ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li class="page-item ">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
    </li>
    {% else %}
    <li class="page-item" class="disabled"><span class="page-link">Previous</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
    {% if page_obj.number == i %}
    <li class="page-item  "><span class="page-link active-primary-1">{{ i }} <span
                class="sr-only page-link">(current)</span></span>
    </li>
    {% else %}
    <li class="page-item"><a class="page-link " href="?page={{ i }}">{{ i }}</a></li>
    {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
    {% else %}
    <li class="page-item" class="disabled"><a href="#" class=" page-link">Next</a></li>
    {% endif %}
</ul>
{% endif %}
{% endblock content %}